:root {
    --color-primary-pure-white: #ffffff;
    --color-primary-electric: #6f3efc;
    --color-primary-zircon: #21212d;

    --color-secondary-magnesium: #b5b5ba;
    --color-secondary-aluminum: #e7e5e8;
    --color-secondary-middle-electric: #bea8fe;
    --color-secondary-light-electric: #d5dcfe;
    --color-secondary-basalt: #494657;
    --color-secondary-asphalt: #747185;

    --color-accent-turbo-green: #b6f7d6;
    --color-accent-signal-red: #e75426;
    --color-accent-burnt-orange: #f1c46c;

    --gradient-custom-electric: linear-gradient(to left, var(--color-secondary-light-electric), var(--color-primary-electric));
    --gradient-magnesium: linear-gradient(to left, var(--color-primary-pure-white), var(--color-secondary-magnesium));
    
    --typeface-standard: "Manrope", sans-serif;
}

body {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    flex-direction: column;
    font-family: var(--typeface-standard);
    color: var(--color-zircon);
}

div {
    margin: 12px 0;
}

h3 {
    margin: 6px 0;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
    border-radius: 24px;
    background: var(--gradient-custom-electric);
    /* background: var(--color-primary-electric); */
}

.gallery img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.log {
    font-family: monospace;
    border-left: 6px solid var(--color-accent-signal-red);
    padding: 16px;
}
