body {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    flex-direction: column;
}

h3 {
    padding: 12px 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid gray;
    padding: 16px;
    border-radius: 4px;
}


.log {
    font-family: monospace;
    border: 1px solid gray;
    padding: 16px;
    border-radius: 4px;
}
